.v { 
  display: flex; 
  padding: 2%;
flex-direction: column;
  margin-top: 50px; 
  font-family: Arial, sans-serif; 
  max-width:  200 px;
  margin-left: 40%;
}  */

form { 
  display: flex; 
  margin-bottom: 20px; 
  position:absolute
} 

input[type='text'] { 
  padding: 10px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 4px 0 0 4px; 
 display: flex;
 flex-direction: row;
  align-items: center; 
  justify-content: center;
  margin: left 30%;
} 

button { 
  padding: 10px 15px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-left: none; 
  background-color: #ff0000; 
  color: white; 
  border-radius: 0 4px 4px 0; 
  cursor: pointer; 
  outline: none; 
} 

button:hover { 
  background-color: #122e4c; 
} 
ul { 
list-style-type: none; 
padding: 0; 

} 
li { 
padding: 10px; 
background-color: #f9f9f9; 
border: 1px solid #ddd; 
border-radius: 4px; 
margin-bottom: 5px; 
width: 300px; 
text-align: left;
display: flex;
} 
h1{
  text-align: center;
  text-decoration: overline;
  color: #122e4c;
}
.s{
  display: flex
;
align-items: center;
justify-content: center;
padding: 3%;
margin : 2%;
}
.input{
  margin: 20px;
  }
  #sdk{
    margin-left: 5%;
  }