
    .container2 {
        background-color: #ebd4d4;
        padding: 30px;
        border-radius: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        display: flex;
        margin-top:25px ;
        flex-direction: row;
       height: 80vh;
       width: 90vw;
       align-items: center;
       justify-content: center;
       
       margin-left: 55px;
    }

    .left {
        
        flex-basis: 50%;
        min-width: 300px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .left img{
        border: 25px;
        border-color: black;
        max-width: 100%;
        
    }

    .right {
    
      margin-top: 5px;
        min-width: 300px;
        
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        text-decoration: underline;
    }

    p {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 20px;
        box-sizing: border-box;
    }

    textarea {
        resize: vertical;
        height: 100px;
    }

    .checkbox-container {
        display: flex;
        align-items: center;
    }

    input[type="checkbox"] {
        margin-right: 10px;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }




/* Style for left and right sections */
.left, .right {
 
    flex: 1;
}

/* Different background colors for distinction */

/* Responsive behavior */
@media (max-width: 768px) {
    .container2 {
        flex-direction: column;
        height: 200vh;
        margin: 0;
    }

    .left, .right {
        height: 50%;
    }
}